---
site:
  title: Tez'Note
---

<!doctype html>
<html lang="ko" class="preload">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.2/nanumsquareround.min.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="fixed top-0 right-0 bottom-0 left-0 color-[var(--fg-a)] bg-[var(--bg-a)] line-height-normal">
    <div class="h-full w-full overflow-y-scroll">
      <div class="sticky top-0 h-[3.5rem] w-full bg-[var(--bg-b)] overflow-hidden">
        <header class="h-full w-full max-w-[60rem] mx-auto px-[0.5rem]">
          <div class="h-full w-full flex">
            <div class="flex-[1_0_0] h-full min-w-0 flex items-center justify-left gap-[1.5rem]">
              <div id="site-title">{{ site.title }}</div>
            </div>
            <div class="flex-[1_0_0] h-full min-w-0 flex items-center justify-right gap-[1.5rem]">
              <div><a href="/">Home</a></div>
              <div><a id="switch-window" href="/posts">Posts</a></div>
              <label id="switch-theme" class="relative h-[1.5rem] w-[1.5rem] overflow-hidden cursor-pointer">
                <input type="checkbox" class="h-0 w-0 opacity-0 [&:checked+div]-top-[-1.5rem]" />
                <div class="absolute top-0 left-0 h-[3rem] w-[1.5rem] flex flex-col transition-top-400">
                  <div class="i-bi-sun h-[1.5rem] w-[1.5rem]"></div>
                  <div class="i-bi-moon-stars h-[1.5rem] w-[1.5rem]"></div>
                </div>
              </label>
            </div>
          </div>
        </header>
      </div>
      <div class="w-full">
        <main class="h-full w-full max-w-[60rem] mx-auto px-[0.5rem]"></main>
      </div>
      <div class="sticky top-[100vh] min-h-[3.5rem] w-full bg-[var(--bg-b)] overflow-hidden">
        <footer class="min-h-[3.5rem] w-full max-w-[60rem] mx-auto px-[0.5rem]">
          <div class="min-h-[3.5rem] w-full flex items-center justify-center gap-x-[0.5rem] flex-wrap">
            <div>This blog is designed by Tez,</div>
            <div>Built with Node.JS,</div>
            <div>and Deployed on Github Pages.</div>
          </div>
        </footer>
      </div>
    </div>
    <script>
      fill_content()
      
      async function fill_content() {
        const cur_pathname = window.location.pathname
        let res = ''
        try {
          res = await (await fetch(cur_pathname + (cur_pathname === '/' ? 'index.json' : '.json'))).json()
        } catch (err) {
          res = await (await fetch('/404.json')).json()
        }
        document.querySelector('main').innerHTML = res.content
      }
      document.body.onclick = async e => {
        if (e.target.matches('a') && e.target.href.startsWith(window.location.origin) && !e.target.getAttribute('href').match(/[.#]/)) {
          e.preventDefault()
          if (e.target.href !== window.location.href) {
            history.pushState(null, null, e.target.href)
            await fill_content()
            document.querySelector('body >div').scrollTo({ top: 0 })
          }
        }
      }
      window.onpopstate = e => {
        fill_content()
      }
    </script>
    <script>
      $root = document.querySelector('html')
      $switch_theme_input = document.querySelector('#switch-theme input')
    
      let cur_theme = window.sessionStorage.getItem('theme') || (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches  ? 'dark' : 'light')
      if (cur_theme === 'dark') {
        $switch_theme_input.checked = true
        set_theme('dark')
      }
      function set_theme(theme) {
        if (theme === 'dark') {
          $root.classList.add('dark')
          window.sessionStorage.setItem('theme', 'dark')
        } else {
          $root.classList.remove('dark')
          window.sessionStorage.setItem('theme', 'light')
        }
      }
      $switch_theme_input.addEventListener('click', e => {
        set_theme((e.target.checked) ? 'dark' : 'light')
      })
    </script>
  </body>
</html>